@import '~tether-drop/dist/css/drop-theme-arrows.css'

@import '~bootstrap-styl/bootstrap/variables.styl'
@import '~bootstrap-styl/bootstrap/mixins.styl';

$font-family-serif ?= 'Merriweather', serif
$font-family-base ?= $font-family-serif
$icon-font-path = '../node_modules/bootstrap-styl/fonts/'

@import '~bootstrap-styl/bootstrap/index.styl';

.constructor-panel
	position fixed
	background #ccc
	top 50px
	left 50px
	z-index 2
	
.them
	width 100px
	heigth 100px
	float left