
@import '~bootstrap-styl/bootstrap/variables.styl'
@import '~bootstrap-styl/bootstrap/mixins.styl';

$alert-padding = 35px
$font-family-serif ?= 'Merriweather', serif
$font-family-base ?= $font-family-serif
$icon-font-path = '../node_modules/bootstrap-styl/fonts/'

@import '~bootstrap-styl/bootstrap/index.styl';


body
	background #ccc